body {
  color: #FFFFFF;
  background-color: #2F3232;
}

.base {
  color: #FFFFFF;
  background-color: #2F3232;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.turn-arrow {
  transform: scale(1, -1);
}

.accordion-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  text-align: left;
  border: 0;
  border-radius: 5px 5px 5px 5px;
}

.accordion-btn:not(.collapsed) {
  border-width: 0px 0px 5px 0px;
  border-radius: 5px 5px 0px 0px;
  border-style: dotted;
  border-color: #FFFFFF;
}



/* アイコンのサイズを変更するためのルール */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* 明るい背景の場合に黒色でアイコンを表示するためのルール */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* 暗い背景の場合に白色でアイコンを表示するためのルール */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }